# example for .env file what variables u need to replace and how
# cuz we upload on github for other devlopers project without env file

# also in deployment we dont upload env file instead we mke server now env variables by a way 

# if api nt free so if any one use our apikey to mke requests itsnt right that why env imprtan
# env file >1- store all project configuratin in one place
# apikey,db connection strings(username,pass),env variables
# 2-security protet senstive info api,dbcredintials

VITE_BASE_URL=YOUR_API_BASE_URL_HERE
# REPLACE WITH THE ACTUAL BASE URL OF UR API
# FOR EX:VITE_BASE_URL=https://api.examle.com
